In [1]:
#librairies 
import urllib.request
import pandas as pd
import numpy as np
import zipfile
import os

In [2]:
# 1.Après lecture,le Code ISO pour le Burkina Faso est BF
iso_code_burkina_faso = 'BF'

# 2 - Télécharger le fichier zip correspondant(il faut être connecté à internet pour pouvoir télécharger les données)
url_burkina_faso = f'https://download.geonames.org/export/dump/{iso_code_burkina_faso}.zip'
urllib.request.urlretrieve(url_burkina_faso, 'BF.zip')

print("Téléchargement du fichier du Burkina Faso terminé.")

Téléchargement du fichier du Burkina Faso terminé.

In [3]:
#3.
# Chemin vers le fichier ZIP
zip_file_path = 'BF.zip'

# Extraction du contenu du fichier zip dans le même répertoire
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall()

# Vérifier l'existence du fichier extrait
extracted_files = os.listdir()
if 'BF.txt' in extracted_files:
    print("Extraction du fichier BF.txt réussie.")
else:
    print("Le fichier extrait BF.txt n'existe pas.")

Extraction du fichier BF.txt réussie.

In [4]:
# Charger les données depuis le fichier extrait
data = pd.read_csv('BF.txt', sep='\t', header=None)

In [5]:
data.head(11713)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,2282318,Pouéné,Pouene,NaN,9.72908,-2.78660,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,226,Africa/Abidjan,2023-11-07
1,2285251,Léraba Occidentale,Leraba Occidentale,"Badini,La Leraba Occidentale,Leraba,Leraba Occ...",10.28333,-5.11667,H,STM,BF,CI,00,NaN,NaN,NaN,0,NaN,283,Africa/Abidjan,2023-11-07
2,2287216,Kéléouoro,Keleouoro,"Keleouoro,Keleworo,Kéléouoro,Kéléworo",9.80748,-4.05023,H,STM,BF,"BF,CI",00,NaN,NaN,NaN,0,NaN,261,Africa/Abidjan,2023-11-07
3,2294066,White Volta,White Volta,"Nakambe,Nakambé,Nakanbe,Nakanbé,Volta Blanche,...",8.70194,-0.99056,H,STM,BF,GH,00,NaN,NaN,NaN,0,NaN,75,Africa/Accra,2023-11-08
4,2298457,Issana Bouga,Issana Bouga,"Issana Bouga,Lanyung,Lanyunga",10.91667,-1.18333,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,178,Africa/Accra,2023-11-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11708,12688712,Kanliyinou,Kanliyinou,NaN,12.15503,0.59881,P,PPL,BF,NaN,08,50.0,NaN,NaN,0,NaN,284,Africa/Ouagadougou,2023-12-25
11709,12688713,Tinonguen-Peulh,Tinonguen-Peulh,NaN,11.64924,-0.22063,P,PPL,BF,NaN,04,49.0,NaN,NaN,0,NaN,220,Africa/Ouagadougou,2023-12-25
11710,12689306,Wolidouo,Wolidouo,NaN,9.73471,-3.07244,P,PPL,BF,NaN,13,67.0,NaN,NaN,361,NaN,296,Africa/Abidjan,2024-01-05
11711,12720016,Yimdi,Yimdi,NaN,12.31014,-1.66322,P,PPL,BF,NaN,03,53.0,NaN,NaN,0,NaN,315,Africa/Ouagadougou,2024-02-07
11712,12746364,Dabogo,Dabogo,NaN,11.49058,0.12698,P,PPL,BF,NaN,04,59.0,NaN,NaN,0,NaN,305,Africa/Ouagadougou,2024-02-14

### 3 - Appliquer les opérations de prétraitement et filtres nécessaires à ce fichier, pour ne garder que les colonnes correspondantes

- Identifiants, Noms de lieux, latitudes, longitudes
- Renommez les avec les noms suivants : 'ID', 'location_name', 'lat', 'long'
- Sauvegarder ces données dans un fichier CSV, nommez-le burkina_location.csv

In [6]:
#identification des colonnes 
data_bf = data[[0, 1, 4, 5]]

In [7]:
data_bf

              0                   1         4        5
0       2282318              Pouéné   9.72908 -2.78660
1       2285251  Léraba Occidentale  10.28333 -5.11667
2       2287216           Kéléouoro   9.80748 -4.05023
3       2294066         White Volta   8.70194 -0.99056
4       2298457        Issana Bouga  10.91667 -1.18333
...         ...                 ...       ...      ...
11708  12688712          Kanliyinou  12.15503  0.59881
11709  12688713     Tinonguen-Peulh  11.64924 -0.22063
11710  12689306            Wolidouo   9.73471 -3.07244
11711  12720016               Yimdi  12.31014 -1.66322
11712  12746364              Dabogo  11.49058  0.12698

[11713 rows x 4 columns]

In [8]:
#renommons les colonnes par 'ID', 'location_name', 'lat', 'long'
data_bf.columns =['ID', 'location_name', 'lat', 'long']

In [9]:
data_bf['location_name']

0                    Pouéné
1        Léraba Occidentale
2                 Kéléouoro
3               White Volta
4              Issana Bouga
                ...
11708            Kanliyinou
11709       Tinonguen-Peulh
11710              Wolidouo
11711                 Yimdi
11712                Dabogo
Name: location_name, Length: 11713, dtype: object

In [10]:
# Sauvegarder les données dans un fichier CSV
data_bf.to_csv('burkina_location.csv', index=False)

### 4 - Opérations sur le fichier CSV burkina_location.csv.

- extraire les données contenant le nom 'gounghin', enregistrez-le sous le fichier gounghin.csv
- extraire la sous-partie de la base de données (fichier burkina_location.csv), dont les noms les premières lettres des noms de lieux sont compris entre 'A' et 'P' (ordre alphabétique)
- Identifiez respectivement, la latitude, la longitude minimale et les noms de lieux correspondants
- Quels sont les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5)

In [11]:
#4.
# Charger les données depuis le fichier burkina_location.csv
burkina_data = pd.read_csv('burkina_location.csv')

In [12]:
#extraire les données contenant le nom 'gounghin', enregistrez-le sous le fichier gounghin.csv
gounghin_data = burkina_data[burkina_data['location_name'].str.lower() == 'gounghin']

In [13]:
# Enregistrer les données extraites dans un fichier CSV
gounghin_data.to_csv('gounghin.csv', index=False)

In [14]:
# Extraire les données avec des noms de lieux dont les premières lettres sont entre 'A' et 'P'
sous_partie = burkina_data[(burkina_data['location_name'].str[0].str.upper() >= 'A') &
    (burkina_data['location_name'].str[0].str.upper() <= 'P')
]

In [15]:
sous_partie

             ID          location_name       lat     long
0       2282318                 Pouéné   9.72908 -2.78660
1       2285251     Léraba Occidentale  10.28333 -5.11667
2       2287216              Kéléouoro   9.80748 -4.05023
4       2298457           Issana Bouga  10.91667 -1.18333
137     2353290  Forêt Classée de Ziga  12.47106 -1.08644
...         ...                    ...       ...      ...
11704  12640344              Kompienga  11.08169  0.72365
11705  12640603               Konglore  11.39510  0.06110
11706  12687046               Monde-So  14.20081 -1.63983
11708  12688712             Kanliyinou  12.15503  0.59881
11712  12746364                 Dabogo  11.49058  0.12698

[8131 rows x 4 columns]

In [16]:
# Trions les données par ordre alphabétique des noms de lieux
sous_partie = sous_partie.sort_values(by='location_name')

In [17]:
sous_partie

             ID location_name       lat     long
10647   6913771        Abanda  15.06808 -0.59805
10032   2363251        Abanga  13.32429  0.31151
11092  11980339        Abassi  12.27728 -1.13662
10600   6874881         Abaye  13.44080 -3.90190
10030   2363249          Abra  13.09140 -1.34752
...         ...           ...       ...      ...
10110   2570015       Pézinga  12.05298 -1.47002
3479    2356655            Pê  11.30000 -3.53333
3280    2356454            Pô  11.16972 -1.14500
3279    2356453            Pô  12.30000 -2.61667
10393   6296406    Pô Airport  11.17854 -1.14498

[8131 rows x 4 columns]

In [18]:
# Enregistrer les données extraites dans un fichier CSV
sous_partie.to_csv('sous_partie_location.csv', index=False)

In [19]:

#Identifiez respectivement, la latitude, la longitude minimale et les noms de lieux correspondants

In [20]:
#lecture
#sous_partie_data = pd.read_csv('sous_partie_location.csv')

# Trouvons la latitude minimale
min_latitude = burkina_data['lat'].min()

# Trouver la longitude minimale
min_longitude = burkina_data['long'].min()

# Trouver les noms de lieux correspondants à la latitude et longitude minimales
lieux_min_coordonnees = burkina_data[
    (burkina_data['lat'] == min_latitude) &
    (burkina_data['long'] == min_longitude)
]

# Afficher les résultats
print(f"Latitude minimale : {min_latitude}")
print(f"Longitude minimale : {min_longitude}")
print("\nNoms de lieux correspondants à la latitude et longitude minimales:")
print(lieux_min_coordonnees[['location_name', 'lat', 'long']])

Latitude minimale : 5.21609
Longitude minimale : -5.65968

Noms de lieux correspondants à la latitude et longitude minimales:
Empty DataFrame
Columns: [location_name, lat, long]
Index: []

In [21]:

# Quels sont les lieux dont les coordonnées sont comprises entre (lat >= 11 et lon <= 0.5)
data_filtree = burkina_data[(burkina_data['lat'] >= 11) & (burkina_data['long'] <= 0.5)]

In [22]:
data_filtree

             ID    location_name       lat     long
5       2353158         Zyonguen  12.36667 -0.45000
6       2353159        Zyiliwèlè  12.38333 -2.73333
7       2353160           Zyanko  12.78333 -0.41667
8       2353161            Zouta  13.14908 -1.28197
9       2353162        Zourtenga  12.95741 -1.28745
...         ...              ...       ...      ...
11706  12687046         Monde-So  14.20081 -1.63983
11707  12688694          Yerfing  11.33747 -3.35025
11709  12688713  Tinonguen-Peulh  11.64924 -0.22063
11711  12720016            Yimdi  12.31014 -1.66322
11712  12746364           Dabogo  11.49058  0.12698

[9282 rows x 4 columns]

### 5 - Sorties Excel

À partir des extractions de l'étape 4 :

- Créer un fichier Excel et nommer le : mini_projet
- Créer une feuille dans ce fichier, du nom gounghin et enregistrer les données contenant le nom 'gounghin' obtenues dans 4.1
- Créer une second feuille dans ce même fichier, du nom A_to_P et enregistrer les données de 4.2

In [23]:
#installation du module 'xlsxwriter'
#! pip install xlsxwriter

In [24]:
# Charger les données extraites du fichier gounghin.csv
gounghin_data = pd.read_csv('gounghin.csv')

# Charger les données extraites du fichier subset_location.csv
sous_partie_data = pd.read_csv('sous_partie_location.csv')

# Créer un fichier Excel
fichier_excel = pd.ExcelWriter('mini_projet.xlsx', engine='xlsxwriter')

# Enregistrer les données dans des feuilles distinctes
gounghin_data.to_excel(fichier_excel, sheet_name='gounghin', index=False)
sous_partie_data.to_excel(fichier_excel, sheet_name='A_to_P', index=False)

# Fermer le fichier Excel
fichier_excel.close()

In [25]:
######################### Fin du du projet ##############################################"